@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
h1{
    font-family: 'russo one', sans-serif;
    color:aliceblue;
    font-size: 50px;
    padding: 20px;
    background-image: url(./images/weather.jpg);
    background-size: cover;
    background-position: 50%;
}

#uvIndex{
    padding: 5px;
}

.low{
    background-color: rgb(14, 204, 14);
}
.medium{
    background-color: yellow;
}
.high{
    background-color: red;
}

#weatherIcon {
    max-width: fit-content;
}