@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
h1{
    font-family: 'russo one', sans-serif;
    color:aliceblue;
    font-size: 50px;
    padding: 20px;
    background-image: url(./images/weather.jpg);
    background-size: cover;
    background-position: 50%;
}
h2, h3, h4{
    font-family: 'russo one', sans-serif;
    text-align: center;
}
.card{
    background-color: rgb(215, 219, 223);
}

#uvIndex{
    padding: 5px;
}

.low{
    background-color: rgb(14, 204, 14);
}
.medium{
    background-color: yellow;
}
.high{
    background-color: red;
}

.icon {
    max-width: fit-content;
}
.history-button{
    background-color: darkgray;
    color: white;
}